{% extends "aminoApp/baseAbout.html" %}





{% block title %}How to use Tetramino - examples{% endblock %}

{% block content %}

<h1>Examples</h1>
<h2>Individual food efficiency</h2>
Soy is quite good.
Eggs are also up to their reputation.
Wheat is quite unbalanced.

<h2>Food pairs</h2>

<p>A sandwich combining <a href="/foodapp/inspectLoadedFoodPair/16/">bread and cheese (camembert)</a> in equal proportions is almost twice as efficient as any of its components taken alone.</p>
<p>On the other hand, bread and peanut butter may test very good, but exhibit no synergy as far as amino acids are concerned.</p>



{% endblock %}