{% extends "aminoApp/baseAbout.html" %}


{% block title %}Tetramino{% endblock %}

{% block content %}

<h1>Disclaimer</h1>

<p>
    All the information on this website is published in good faith and for general information purpose only.
    There is no warranty about the completeness, reliability and accuracy of this information.
</p>
<p>
    We encourage you to read <a href="/about_limitations">more about why you should take this information with caution</a>.
</p>
<p>
    Any action you take upon the information you find on this website is strictly at your own risk.
    Tetramino will not be liable for any losses or damages in connection with the use of our website.
</p>
<p>
    By using our website, you hereby consent to our disclaimer and agree to its terms.
</p>



{% endblock %}