{% extends "aminoApp/baseAbout.html" %}


{% block title %}Tetramino{% endblock %}

{% block content %}

<h1>Limitations</h1>
We would like you to be aware of several reasons why you should not take the information presented on this site too seriously:
<!--limitations to the quality of the information presented on this website:-->
<ul>
    <li>Nutrition is a complex subject and there is much more to it than amino acids.
    </li>
    <li>Food nutritional data: All nutritional data stem from the National Nutrient Database for Standard Reference of the USDA.
    However, only mean measured data are used on this site.
    As a consequence, variations inherent to food products are not taken into account.
    </li>
    <li>Amino acid requirements: Amino acid requirements vary with age, activity and other factors.
    The reference amino acid pattern used in this website may not be valid for you.
    </li>

</ul>



{% endblock %}