{% extends "aminoApp/baseAbout.html" %}


{% block title %}About Tetramino{% endblock %}

{% block content %}

<h1>Sources</h1>

<p>All the nutritional and food composition data stems from the
National Nutrient Database for Standard Reference
of the USDA (United States Department of Agriculture).</p>

<!--The suggested citation is: -->

<!--U.S. Department of Agriculture, Agricultural Research Service. 20xx. -->
<!--USDA National Nutrient Database for Standard Reference, Release 28. -->
<!--Nutrient Data Laboratory Home Page, http://www.ars.usda.gov/nutrientdata-->

{% endblock %}