{% extends "aminoApp/baseAbout.html" %}


{% block title %}About Tetramino{% endblock %}

{% block content %}

<h1>Sources</h1>

<p>All the nutritional and food composition data stems from the
National Nutrient Database for Standard Reference
of the USDA (United States Department of Agriculture).</p>
<p>The exact reference: US Department of Agriculture, Agricultural Research Service,
Nutrient Data Laboratory. USDA National Nutrient Database for Standard Reference, Release 28.
Version Current:  September 2015.</p>

<p>You can find more information about the database on the USDA website:
<a href="https://ndb.nal.usda.gov/ndb/">https://ndb.nal.usda.gov/ndb/</a>.</p>
<p>About interpretations of the data and calculations, see <a href="/about_further_reading/">further reading</a></p>
<!--The suggested citation is: -->

<!--U.S. Department of Agriculture, Agricultural Research Service. 20xx. -->
<!--USDA National Nutrient Database for Standard Reference, Release 28. -->
<!--Nutrient Data Laboratory Home Page, http://www.ars.usda.gov/nutrientdata-->

{% endblock %}