{% extends "aminoApp/baseAbout.html" %}





{% block title %}Definitions: amino acids, protein efficiency{% endblock %}


{% block content %}

<h1>Definitions</h1>
<ul>
  <li>Efficiency: By efficiency (of some food or composition of foods) we mean the weight of a complete protein
that can be obtained with the given essential amino acids, divided by their total weight. This depends on the reference pattern.</li>
  <li>Reference pattern: pattern of (essential) amino acid quantities assumed to optimally correspond to a complete protein.</li>
  <li>Limiting amino acid: For a given food, the amino acid for which the ratio to its quantity in the reference pattern is the lowest.</li>

</ul>



{% endblock %}