{% extends "aminoApp/baseAbout.html" %}





{% block title %}About Tetramino{% endblock %}


{% block content %}

<h1>
   What is it about?
</h1>
<p>
We are here to help you get the most of the amino acids you consume.
Amino acids are the building blocks from which proteins are assembled.
Among the 23 protein-building amino acids, nine
cannot be derived from other blocks,
which means they are to be provided to the body as food.
They are called essential.
</p>
<p>
Many foods, especially plant-based one,
contain a valuable amount of these essential amino acids,
but not in the right proportions for all of it to be used for the synthesis of proteins.
Hence the need to balance these intakes.
</p>
<p>
Fortunately, the balancing only needs to occur at the scale of a day,
and having a varied diet does ensure you get all the essential amino acids
you need without having to worry about them.
Still, you might be tempted to try and balance them even better;
to find out, for instance, what would be the best complement to
the copious lentil dhal you had for lunch.
</p>
<!--By getting the most energy out of their food by balancing amino acid intakes.-->
<p>You can look up <a href="/listFoods">foods</a>, see their amino acid content, see how it differs from the
perfectly balanced profile of a complete protein.
You can look at <a href="/choosePair">pairs of foods</a>, see whether you can combine them for
a better amino acid balance, and what the best proportion is.
You can also compose <a href="/composeRecipe">your own menu</a> and evaluate it.</p>

{% endblock %}