{% extends "aminoApp/baseAbout.html" %}





{% block title %}How to use Tetramino - examples{% endblock %}
{% block description %}Tetramino - examples of amino acid efficiency for foods and food pairs{% endblock %}

{% block content %}

<h1>Examples</h1>
<h2>Individual food efficiency</h2>
A few examples of amino acid efficiencies:
<a href="/showFood/9021/">Apricots</a> have a low amino acid efficiency, because of their low methionine content.
Wheat products such as <a href="/showFood/18065/">bread</a> have a medium amino acid efficiency, limited by their lysine content.
<a href="/showFood/20035/">Quinoa</a> has a high amino acid efficiency.


<h2>Food pairs</h2>

<p>A <a href="/inspectLoadedFoodPair/150/">sandwich combining bread and cheese (camembert)</a> in equal proportions is almost twice as efficient as any of its components taken alone.</p>
<p>On the other hand, <a href="/inspectLoadedFoodPair/151/">bread and peanut butter</a> may taste very good, but exhibit no synergy as far as amino acids are concerned: combining the two does not allow higher efficiencies to be achieved than those of the individual components.</p>



{% endblock %}