{% extends "aminoApp/baseAbout.html" %}


{% block title %}Tetramino - further reading{% endblock %}
{% block description %}Amino acids in human nutrition - literature review{% endblock %}

{% block content %}

<h1>Further reading on amino acids in human nutrition</h1>
<!--To start with scholar references in APA style-->
<ul>
    <li>
    Rennie, M. J., & Tipton, K. D. (2000).
    Protein and amino acid metabolism during and after exercise and the effects of nutrition.
    Annual review of nutrition, 20(1), 457-483.
    <!--branched-chain amino acids particularly affected by exercise-->
    </li>

    <li>
    Schaafsma, G. (2000).
    The protein digestibility–corrected amino acid score.
    The Journal of nutrition, 130(7), 1865S-1867S.
    </li>

    <li>Woolf, P. J., Fu, L. L., & Basu, A. (2011).
    vProtein: identifying optimal amino acid complements from plant-based foods.
    PloS one, 6(4), e18836.
    </li>

    <li>
    Young, V. R., & Borgonha, S. (2000).
    Nitrogen and amino acid requirements: the Massachusetts Institute of Technology amino acid requirement pattern.
    The journal of Nutrition, 130(7), 1841S-1849S.
    </li>

    <li>Young, V. R., & Pellett, P. L. (1994). Plant proteins in relation to human protein and amino acid nutrition.
    The American journal of clinical nutrition, 59(5), 1203S-1212S.
    </li>




</ul>



{% endblock %}