{% extends "aminoApp/baseAbout.html" %}





{% block title %}Definitions: amino acids, protein efficiency{% endblock %}


{% block content %}

<h1>Definitions</h1>

  <h2 id="efficiency">Efficiency:</h2>
  We define the (amino acid) efficiency of some food as the largest compound obtainable from the given amino acids in proportions corresponding to the target pattern, divided by their total weight in the food. The value depends on the <a href="#targetPattern">target pattern</a>.
  <h2 id="targetPattern">Target pattern:</h2>
  The target pattern or reference pattern is a pattern of (essential) amino acid quantities assumed to optimally correspond to a person's needs.
  This target pattern might vary according to age, activity and other factors. For now, this website only considers one reference pattern described <a href="/targetPattern/1/">here</a>.
  <h2 id="limiting">Limiting amino acid:</h2>
  For a given food, the amino acid for which the ratio of its present quantity to its quantity in the reference pattern is the lowest.





{% endblock %}