{% extends "aminoApp/base.html" %}



{% block title %}About Tetramino{% endblock %}

{% block section %}section-about{% endblock %}

{% block subhead %}
    <ul>
        <li><a href="/about/">About</a></li>
        <li><a href="/questions-answers-themes/">FAQ</a></li>
        <li><a href="/about-sources/">Sources</a></li>
        <li><a href="/about-examples/">Examples</a></li>
        <li><a href="/about-definitions/">Definitions</a></li>
        <li><a href="/literature-references/">Further reading</a></li>
        <li><a href="/about-contact/">Contact</a></li>
        <li><a href="/about-links/">Links</a></li>
    </ul>

{% endblock %}