{% extends "aminoApp/base.html" %}

{% block description %}"Look for complementary pairs of protein sources in terms of amino acid contents"{% endblock %}

{% block keywords %}"pairs of incomplete proteins"{% endblock %}

{% block title %}Tetramino - food associations {% endblock %}

{% block section %}section-foodpairs{% endblock %}

{% block subhead %}
    <ul>
        <!-- associations main: explaining -->
        <li><a href="/foodPairs/">Food pair list</a></li>
        <li><a href="/choosePair/">New food pair</a></li>

        <!-- associations of 2+ foods... -->
    </ul>

{% endblock %}