{% extends "aminoApp/base.html" %}

{% block title %} Tetramino - amino acids  {% endblock %}
{% block description %} Tetramino - main proteinogenic amino acids  {% endblock %}

{% block section %}section-aminos{% endblock %}

{% block subhead %}
    <ul>
        <li><a href="/list-amino-acids/">List</a></li>
        <li><a href="/amino-acid-lysine/">Lysine</a></li>
        <li><a href="/amino-acid-methionine/">Methionine </a></li>
        <li><a href="/amino-acid-leucine/">Leucine</a></li>
        <li><a href="/amino-acid-valine/">Valine</a></li>
        <li><a href="/amino-acid-isoleucine/">Isoleucine</a></li>
    </ul>

{% endblock %}