{% extends "aminoApp/base.html" %}

{% block title %} Tetramino - amino acids  {% endblock %}
{% block description %} Tetramino - main proteinogenic amino acids  {% endblock %}

{% block section %}section-aminos{% endblock %}

{% block subhead %}
    <ul>
        <li><a href="/listAminoAcids/">List</a></li>
        <li><a href="/aminoAcid_lys_g/">Lysine</a></li>
        <li><a href="/aminoAcid_met_g/">Methionine </a></li>
        <li><a href="/aminoAcid_leu_g/">Leucine</a></li>
        <li><a href="/aminoAcid_val_g/">Valine</a></li>
        <li><a href="/aminoAcid_ile_g/">Isoleucine</a></li>
    </ul>

{% endblock %}