{% extends "aminoApp/base.html" %}



{% block title %}About Tetramino{% endblock %}

{% block section %}section-about{% endblock %}

{% block subhead %}
    <ul>
        <li><a href="/about/">About</a></li>
        <li><a href="/about_definitions/">Definitions</a></li>
        <li><a href="/about_sources/">Sources</a></li>
        <li><a href="/about_examples/">Examples</a></li>
        <li><a href="/about_further_reading/">Further reading</a></li>
        <li><a href="/about_contact/">Contact</a></li>
    </ul>

{% endblock %}