{% extends "aminoApp/baseAssociations.html" %}

{% block title %}Tetramino - food pairs in the database{% endblock %}

{% block content %}
<h1>Already investigated food pairs</h1>

    {% if pairList %}
        <table>
        <!--<table style="width:100%">-->
            <tr>
                <th>Pair</th>
                <!--<th>Food one id</th>-->
                <!--<th>Food two id</th>-->
                <!--<th>Category</th>-->
                <th>Best efficiency</th>
            </tr>
        {% for pair in pairList %}
            <tr>
                <td><a href="/inspectLoadedFoodPair/{{ pair.pk }}/">{{ pair.pair_name }}</a> </td>
                <!--<td>{{ pair.foodOneId }}</td>-->
                <!--<td>{{ pair.foodTwoId }}</td>-->
                <td>{{ pair.bestEfficiency |floatformat:2}}</td>
                <!--<th>{{ food.food_category }}</th>-->
                <!--<th>{{ food.getEfficiency }}</th>-->
            </tr>
            <!--<li><a href="/foodapp/{{ food.id }}/">{{ food.food_name }}</a></li>-->
        {% endfor %}
        </table>
    {% else %}
        <p>No pair is available.</p>
    {% endif %}

    <!--pagination section-->
    <!--http://stackoverflow.com/questions/5907575/how-do-i-use-pagination-with-django-class-based-generic-listviews-->
    {% if is_paginated %}
    <p>
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="/foodPairs/?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="/foodPairs/?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    </p>
    {% endif %}
    <!--sorting: does not work for now-->
    <!--<p>-->
        <!--http://stackoverflow.com/questions/33350362/django-listview-form-to-filter-and-sort-->
    <!--    Sort by: <a href="/foodPairs/?orderby=-pk">first investigation</a>-->
    <!--    <a href="/foodPairs/?orderby=bestEfficiency">best efficiency</a>-->
    <!--</p>-->

{% endblock %}


