{% extends "foodapp/base.html" %}


{% block title %}Tetramino{% endblock %}

{% block section %}section-home{% endblock %}

{% block content %}

<h1>
   Hello!
</h1>

<p>You can:
    <ul>
        <li>Explore <a href="/foodapp/listFoods/">foods</a> and look at their nutritional values.</li>
        <li>See how <a href="/foodapp/choosePair/">pairs of foods</a> in different proportions perform.</li>
        <li>Compose and explore <a href="/foodapp/menuTable/">menus</a> to balance nutriments even more.</li>
    </ul>
</p>

{% endblock %}
