{% extends "aminoApp/base.html" %}


{% block title %}Tetramino{% endblock %}

{% block section %}section-home{% endblock %}

{% block content %}

<h1>
   Hello!
</h1>

<p>This website is dedicated to amino acids in human nutrition, and how combinations of proteins from various foods may enhance their value.
You may for instance:
    <ul>
        <li>Explore <a href="/listFoods/">foods</a>, looking at their nutritional values, amino acid contents and amino acid efficiencies.</li>
        <li>See how good the complementarity of <a href="/choosePair/">pairs of foods</a> is, and how they perform in different proportions.</li>
        <li>Compose and explore <a href="/recipeTable/">recipes</a> to balance nutriments even more.</li>
        <li>Read <a href="/about/">a bit more on the subject.</a></li>
    </ul>
</p>

<div>
    <h2>Last added foods</h2>
    {% for food in object_list %}
        <li><a href="/showFood/{{ food.food_dbid }}">{{ food.getNameWithoutSaltInfo }}</a></li>
    {% empty %}
        <li>No food.</li>
    {% endfor %}
</div>
<div>
    <h2>Last added recipes</h2>
    {% for recipe in lastest_recipe_list %}
        <li><a href="/showRecipe/{{ recipe.pk}}">{{ recipe.title }}</a></li>
    {% empty %}
        <li>No recipe.</li>
    {% endfor %}
</div>

<div>
    <h2>Last investigated food pairs</h2>
    {% for pair in lastest_pair_list %}
        <li><a href="/inspectLoadedFoodPair/{{ pair.pk}}">{{ pair.pair_name }}</a></li>
    {% empty %}
        <li>No food pair.</li>
    {% endfor %}
</div>
{% endblock %}
