{% extends "aminoApp/baseAbout.html" %}


{% block title %}Tetramino - Furthe reading{% endblock %}
{% block description %}Literature review on amino acids and proteins in human nutrition, and how to combine them.{% endblock %}

{% block content %}

<h1>Further reading</h1>
<!--All questions:-->
<!--<ul>-->
<!--{% for qAndA in qas %}-->
<!--  <li>-->
<!--      <a href="#{{qAndA.pk}}">{{qAndA.question}}</a>-->
<!--  </li>-->
<!--{% endfor %}-->
<!--</ul>-->

<ul>
{% for artic in articles %}
  <li id="{{artic.in_text}}">{{artic.reference_APA}}</li>
{% endfor %}
</ul>






{% endblock %}