{% extends "aminoApp/baseRecipe.html" %}

{% block title %}Tetramino - recipe - {% endblock %}

{% block content %}

<h1>Recipe: {{recipe.title}}.</h1>

<h2>Ingredients</h2>
    <ul>
    {% for ingr in ingredients %}
        <li>{{ ingr }}</li>
    {% endfor %}
    </ul>

    {% if recipe.description%}
    <h2>Description</h2>
        {{ recipe.description}}
    {% endif %}
<h2>Amino acids</h2>
<p>Efficiency: {{efficiency|floatformat:2}}.</p>

<embed src={{ chartProps }} height="400">

<p><a href="/plotRecipeAmino/{{recipe.pk}}">More plots for this recipe</a></p>

<p>Have a look <a href="/bestProportionsOfRecipeFoods/{{recipe.pk}}">here</a> to see
how efficient can combinations of the same ingredients in different proportions be.</p>


{% endblock %}