{% extends "aminoApp/baseAminoAcids.html" %}

{% block title %}Tetramino - plot of food amino acids{% endblock %}
{% block description %}"Amino acid {{ aminoAcid.public_name }}. Foods rich in it, foods low in it..."{% endblock %}

{% block content %}

<h1>
    {{ aminoAcid.capitalName }}
   <!--{{ aminoAcid.public_name }}-->
</h1>
<!--<h2></h2>-->

    <p>{{ aminoAcid.description |safe}}</p>


<h2>Foods rich in it (relatively to target pattern)</h2>
    {% if highScores %}
        <ul>
        {% for aminoScore in highScores %}
            <li><a href="/showFood/{{aminoScore.food.food_dbid}}">{{ aminoScore.food }} ({{ aminoScore.score|floatformat:2 }})</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No food rich in it.</p>
    {% endif %}

<h2>Foods rich in it (in quantity per 100 g)</h2>
    {% if highContentFoodsAndQuantities %}
        <ul>
        {% for foodQuant in highContentFoodsAndQuantities %}
            <li><a href="/showFood/{{foodQuant.food.food_dbid}}">{{ foodQuant.food }} ({{ foodQuant.quantity|floatformat:2 }} g)</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No food rich in it.</p>
    {% endif %}


<h2>Foods poor in it (relatively to target pattern)</h2>
    {% if lowScores %}
        <ul>
        {% for aminoScore in lowScores %}
            <li><a href="/showFood/{{aminoScore.food.food_dbid}}">{{ aminoScore.food }} ({{ aminoScore.score|floatformat:2}})</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No food poor in it.</p>
    {% endif %}

{% endblock %}




