{% extends "aminoApp/baseRecipe.html" %}

{% block title %}Tetramino - recipe - {% endblock %}

{% block content %}

<div id="itemhead">
   <p>Recipe: {{recipe.title}}.</p>
</div>


<h2>Ingredients</h2>
    <ul>
    {% for ingr in ingredients %}
        <li>{{ ingr }}</li>
    {% endfor %}
    </ul>

    {% if recipe.description%}
    <h2>Description</h2>
        {{ recipe.description}}
    {% endif %}
<h2>Amino acids</h2>
<p>Efficiency: {{efficiency|floatformat:2}}.</p>
<p><a href="/aminoApp/plotRecipeAmino/{{recipe.pk}}">Plot essential amino acid quantities</a></p>

<p>Have a look <a href="/aminoApp/bestProportionsOfRecipeFoods/{{recipe.pk}}">here</a> to see
how efficient can combinations of the same ingredients in different proportions be.</p>


{% endblock %}