{% extends "aminoApp/baseFoods.html" %}

{% block title %}Tetramino - amino acids in {{ category.name }}{% endblock %}

{% block description %}
What is the protein and amino acid content of various instances of {{ category.name }}?{% endblock %}

{% block keywords %}"{{ category.name }} amino acids"{% endblock %}

{% block content %}

<h1>
   Food category: {{ category.name }}
</h1>

{% if category.description %}
<p>{{ category.description }}</p>
{% endif %}

{% if foodList %}
    <ul>
    {% for food in foodList %}
        <li><a href="/showFood/{{food.food_dbid}}/">{{ food.getNameWithoutSaltInfo }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No foods are available.</p>
{% endif %}



{% endblock %}




