/*reference colors:*/

ul {
    /*list-style-type: none;*/
    list-style-type: circle;
    padding: 0;
	margin: 0;
  }

#content ul {
    list-style-type: circle;
    padding: 0;
	margin: 0;
  }


p {
    margin: 2 em;
    text-align: justify;
    text-justify: inter-word;
    /*background-color: rgb(255,100,255);*/
}

body {
    font-family: "Raleway", serif;
    /*font-family: "Roboto", serif;*/
    /*background-color: rgb(200,200,255);*/

}

select {

    font-size:14px;

}

/*Each table row is defined with the <tr> tag. A table header is defined with the <th> tag. By default, table headings are bold and centered. A table data/cell is defined with the <td> tag.*/

th, td {
    border-bottom: 1px solid #ddd;
    padding: 5px;
}

th {
    background-color: rgb(240,240,240);
    /*color: white;*/
}

tr:hover {background-color: #f5f5f5}

table {
    border-collapse: collapse;
    border: 1px solid #ddd;
    width: 80%;
}

/*li a {*/
/*    color: green;*/
/*    display: inline;*/
/*    inline-block;*/
/*    padding: 16px;*/
/*    text-align: center;*/
/*    float: left;*/
/*}*/

#titlebar p {
    font-family: 'Monoton', cursive;
    /*font-family: 'Amatic SC', cursive; Bungee Shade */
    font-size: 48px;
    font-weight: bold
    margin-top: -0.2em;
    margin-bottom: -0.1em;
    margin-left: 0em;
    margin-right: 0;
    background-color: rgb(250,250,250);
    color: rgb(100,100,100);
    /*padding-top: 0;*/
    /*padding-right: 0;*/
    /*padding-bottom: 0;*/
    /*padding-left: 0;*/
}

#headbar ul, #subhead ul  {
    margin: 0;
    padding: 5px 20px 5px 20px;
	list-style-type: none;
	list-style-image: none; }

#headbar li, #subhead li {
    display: inline;
}

#headbar ul li a {
    text-decoration:none;
    margin: 4px;
	padding: 5px 16px 5px 16px;
	font-weight: bold;
	color: black;
}

#subhead ul li a {
    text-decoration:none;
    margin: 4px;
	padding: 4px 12px 4px 12px;
	color: black;
}

div#headbar {
	background-color:rgb(220,220,220);
	border-bottom: solid rgb(250,220,55);
	}

/*div#headbar {*/
/*	background-color:rgb(200,240,255);*/
/*	border-bottom: solid rgb(100,200,255);*/
/*	}*/

div#subhead {
	background-color:rgb(240,240,240);
	border-bottom: solid 1px rgb(200,200,200);
	}

/*div#subhead {*/
/*background-color:rgb(220,250,255);*/
/*border-bottom: solid 1px rgb(100,200,255);*/
/*}*/

	/*background: pink;}*/

a:link {
    text-decoration: none;
    color: rgb(0,0,100);
}

a:visited {
    text-decoration: none;
    color: rgb(100,0,0);
}

a:hover {
    text-decoration: underline;
    color: rgb(0,0,0);
}

a:active {
    text-decoration: underline;
}

#headbar li a:hover {
    background-color: rgb(250,200,50);
    border-bottom: solid rgb(180,180,180);
}



#subhead li a:hover {
    background-color: rgb(150,150,150);
    color: rgb(250,250,250);
    /*font-weight: bold;*/
}

li a:link {
    color: rgb(50,50,50);
}

li a:hover {
    color: rgb(0,0,0);
}

/*li {*/
/*    float: left;*/
/*  }*/








/*current section*/
#section-home .nav-home a, #section-foods .nav-foods a, #section-about .nav-about a,
    #section-foodpairs .nav-foodpairs a, #section-recipes .nav-recipes a, #section-aminos .nav-aminos a {
    background-color:rgb(250,220,55);
    border-bottom: solid rgb(0,0,0);
            }



div#itemhead {
    margin: 0.6em;
    font-family: 'Bungee', serif;
    font-size: 16px;
    text-align: left;
    /*text-align: center;*/
	border-bottom: solid 1px rgb(240,240,240);
	}

	h1 {
    margin-bottom: 1em;
    margin-top: 0;
    margin-left: 0em;
    font-family: 'Raleway', serif;
    font-size: 20px;
    text-align: left;
    /*text-align: center;*/
    color: rgb(100,100,100);
	border-bottom: solid 1px rgb(240,240,240);
	}

	h2 {
    margin-bottom: 0.4em;
    margin-top: 0;
    margin-left: 0em;
    font-family: 'Raleway', serif;
    font-size: 16px;
    text-align: left;
    /*text-align: center;*/
    color: rgb(120,120,120);
	border-bottom: solid 1px rgb(240,240,240);
	}

div#footer {
	background-color:rgb(245,245,245);
	margin-bottom: 0.6em;
	padding: 1em;
	/*border-style: solid;*/
	/*border-top: solid 1px rgb(20,180,100);*/
	}

div#content {
	margin: 1em;
	padding: 0.5em;
	/*border-top: solid rgb(100,200,255);*/
	float: none
	}
